/* If the border-style property has four values:

border-style: dotted solid double dashed;
top border is dotted
right border is solid
bottom border is double
left border is dashed
If the border-style property has three values:

border-style: dotted solid double;
top border is dotted
right and left borders are solid
bottom border is double
If the border-style property has two values:

border-style: dotted solid;
top and bottom borders are dotted
right and left borders are solid
If the border-style property has one value:

border-style: dotted;
all four borders are dotted */

p.dot {
    /* border-style: dotted;
    border-width: 5px;
    border-color: red; */

    /* sorten code */

    border: 4px dotted red;

    /* border-left: 5px dotted red; */

    /* border-right: 5px dotted red; */
    /* border-bottom: 5px dotted red; */

    /* Border roundness */

    border-radius: 8px;
}
p.dash {
    border-style: dashed;
    border-width: medium;
    border-color: green;
}
p.solid {
    border-style: solid;
    border-width: thick;
}
p.double {
    border-style: double;
    border-width: 5px 20px;
    /* 5px top and bottom, 20px on the sides */
}
p.groove {
    border-style: groove;
    /* border-style: dotted solid groove dashed; */
}
p.ridge {
    border-style: ridge;
}
p.inset {
    border-style: inset;
}
p.outset {
    border-style: outset;
}
p.none {
    border-style: none;
}
p.hidden {
    border-style: hidden;
}
p.mix {
    border-style: dotted dashed groove inset;
    border-width: 5px 10px 4px 5px; /* 25px top, 10px right, 4px bottom and 35px left */
    border-color: red green blue pink;/* red top, green right, blue bottom and yellow pink */
}
