p.ex1{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 75px;
    padding-left: 75px;
}

/* If the padding property has four values:

padding: 25px 50px 75px 100px;
top padding is 25px
right padding is 50px
bottom padding is 75px
left padding is 100px */

p.ex2{
    padding: 25px 50px 75px 100px;
}

/* If the padding property has three values:

padding: 25px 50px 75px;
top padding is 25px
right and left paddings are 50px
bottom padding is 75px */
p.ex3{
    padding: 25px 50px 75px;
}

/* If the padding property has two values:

padding: 25px 50px;
top and bottom paddings are 25px
right and left paddings are 50px */

p.ex4{
    padding: 25px 50px;
}

/* If the padding property has one value:

padding: 25px;
all four paddings are 25px */
p.ex5{
    padding: 25px;
}
/* 
Here, the <div> element is given a width of 300px. However, the actual width of the <div> element will be 350px 
(300px + 25px of left padding + 25px of right padding): */
p.ex6{
    width: 300px;
    padding: 100px;
}
/* 
o keep the width at 300px, no matter the amount of padding, you can use the box-sizing property. This causes the element to 
maintain its actual width; if you increase the padding, the available content space will decrease. */

p.ex7{
    width: 300px;
    padding: 25px;
    box-sizing: border-box;
}